.recipeBox {
    background-color: rgb(255, 85, 85);
    border-radius: 0 0 1em 1em;
    padding: 0.25em 1em 0.5em 1em;
    margin: 0 4em;
    height: 15em;
}
.recipeBoxLabel {
    color: #000;
    text-align: center;
    flex-direction: column;
    display: flex;
    padding: 0.5em;
    background-color: antiquewhite;
    border-radius: 0.25em;
}
.icon {
    width: 1.5em;
    height: 1.5em;
    color: #000;
}
.recipeGallery {
    display: flex;
    max-height: 20em;
    overflow: auto;
}
.recipe {
    background-color: rgb(168, 139, 105);
    border-radius: 0.5em;
    display: none;
    flex-direction: column;
    min-height: 7em;
    margin: 0 4.5em 0.5em 4.5em;
    z-index: -1;
    position: sticky;
}
.hovertracker {
    position: relative;
}
#recipeBoxLid {
    height: 3em; border-radius: 1em 1em 0 0;
    background-color: rgb(255, 85, 85);
    margin: 10em 4em 0.5em 4em;
    position: relative;
}
#boxOpening {
    height: 0;
    position: relative;
    margin: auto;
}
@keyframes openRecipe {
    from {
       transform: translateY(10em);
    } to {
       transform: translateY(0);
    }
}
@keyframes closeRecipe {
    from {
       transform: translateY(0em);
    } to {
       transform: translateY(0em);
    }
}
.recipeLabel  {
    padding: 0.25em 0.5em;
}
.bgRecipeImg {
    width: 100%;
    border-radius: 0.5em 0.5em 0 0;
}
.recipeSection {
    margin: auto;
    position: relative;
    border-radius: 0.5em 0.5em 0 0;
    margin: 4em 0 4em 0;
}
.recipeCnt {
    font-size: 0.75em;
    padding: 0.5em 0.5em 0.5em 0;
    display: flex;
}
.bannerText p {
    padding: 0.5em 1em;
}
#recipeImg {
    width: 50%;
    position: relative;
    border-radius: 2em;
}
.add {
    background-color: rgb(168, 139, 105);
    padding: 1em;
    display: block;
    border-radius: 0 0 1em 1em;
    border-radius: 0 0 1em 1em;
}
#newRecipe {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid #000;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    background-color: rgb(168, 139, 105);
}
#newRecipe label {
    color: #fff;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.ingList {
    list-style: disc;
}
input {
    background-color: rgb(168, 139, 105);
    border: none;
    border-bottom: 2px solid #000;
    margin-bottom: 0.5em;
    width: max-content;
    text-align: center;
}
.helper {
    margin: 0.5em;
}
#recipeLabel {
    width: 100%;
}
#recipeAuthor {
    width: 100%;
    margin: 0 10em;
}
.inpNum {
    width: 2em;
    margin: 0 auto;
    height: 2em;
    padding-bottom: 0;
}
.spanLabel {
    width: 100%;
    text-align: center;
    font-size: 1em;
}
.segLabel {
    width: 5em;
    font-size: 1em;
    height: 1em
}
.recipeAlign {
    line-height: 1em;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #000;
    padding-bottom: 0.5em;
}
.addBtn {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    padding: 0.5em;
    margin-right: 0.5em;
    background-color: #fff;
}
#addDirection {
    text-align: center;
    font-size: 1em;
}
.directions {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.75em;
}
.directive {
    margin-right: 0.5em;
}
.cntSbs {
    display: flex;
    margin-top: 1em;
}
aside {
    width: 50%;
    margin-top: 0;
}
#ingredients {
    margin-top: 0.4em;
}
#serves {
    margin: auto;
    display: flex;
}
#addRecipeSubmit {
    width: 3em;
    height: 3em;
    background-color: #fff;
    margin: auto;
    border-radius: 50%;
    display: flex;
    border: 2px solid #000;
    margin-top: 0.5em;
}
.searchBar {
    background-color: rgb(230, 230, 230);
    padding: 0.5em 0 0.5em 0.5em;
    border-radius: 1em 0 0 1em;
    color: #000;
    width: 60%;
}
.searchBtn {
    color: #fff;
    background-color: rgb(180,180,180);
    border-radius: 0 1em 1em 0;
    margin-left: -1em;
    padding: 0.5em;
    text-align: center;
    border-bottom: 2px solid #000;
}
/* World food map elements */ 
#culinaryWorld {
    width: 90%; 
    padding: 1em;
    border-radius: 1em;
}
#culinaryWorld:hover {
    cursor: crosshair;
}
.pin{
    background-color: red;
    border-radius: 0.5em; 
}