* {
    font-family: monospace;
    margin: auto;
}
.bannerImg {
    margin-top: 2em;
    width: 100%;
    height: 30em;
}
.recipeBox {
    background-color: rgb(255, 85, 85);
    border-radius: 1em;
    padding: 0.25em 1em 0.5em 1em;
    top: 35em;
    left: 2.5em;
    right: 2.5em;
    position: absolute;
}
.recipeBoxLabel {
    color: #fff;
    text-align: center;
    flex-direction: column;
    display: flex;
    padding: 0.5em;
}
.icon {
    width: 1.5em;
    height: 1.5em;
}
.recipeGallery {
    background-color: #fff;
    padding: 1em 0.5em;
    display: flex;
    flex-wrap: wrap;
    height: 20em;
    overflow: hidden;
    overflow: auto;
}
.recipe {
    background-color: rgb(216, 201, 169);
    border-radius: 0.25em;
    width: 32%;
    box-shadow: -0.1em 0.1em #000;
    display: flex;
    flex-direction: column;
    min-height: 7em;
    margin-bottom: 0.25em;
}
.recipe:hover {
    animation: 0.5s recipeSelect linear ease-in-out;
}
@keyframes recipeSelect {
    0% {
        width: 32%;
    }
    100% {
        width: 70%;
    }
}
.recipeLabel  {
    padding: 0.25em 0.5em;
}
.recipeImg {
    width: 100%;
}
.recipeSection {
    margin: auto;
}
.recipeCnt {
    font-size: 0.75em;
    padding: 0.5em;
    overflow: auto;
}
.bannerText {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 1;
    color: #fff;
    right: 0;
    top: 16em;
    padding: 1em;
    width: 100%;
    height: 20%;
    font-size: 1em;
    text-align: center;
}
.bannerText p {
    padding: 0.5em 1em;
}
#recipeImg {
    width: 100%;
}
.add {
    background-color: rgb(168, 139, 105);
    padding: 1em;
    display: block;
    border-radius: 1em;
}
#newRecipe {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid #000;
    border-radius: 0.5em;
    padding: 0.5em 1em;
}
#newRecipe label {
    color: #fff;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.ingList {
    list-style: disc;
}
input {
    background-color: rgb(168, 139, 105);
    border: none;
    border-bottom: 2px solid #000;
    margin-bottom: 0.5em;
    width: max-content;
    text-align: center;
}
.helper {
    margin: 0.5em;
}
#recipeLabel {
    width: 100%;
}
#recipeAuthor {
    width: 100%;
    margin: 0 10em;
}
.inpNum {
    width: 2em;
    margin: auto;
}
.spanLabel {
    width: 100%;
    text-align: center;
}
.segLabel {
    vertical-align: 2em;
    width: 5em;
}
.recipeAlign {
    line-height: 2em;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #000;
}
.addBtn {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    padding: 0.5em;
    margin-right: 0.5em;
    background-color: #fff;
}
#addDirection {
    text-align: center;
    font-size: 1em;
}
.directions {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.75em;
}
.directive {
    margin-right: 0.5em;
}
.active {
    opacity: 50%;
}
.cntSbs {
    display: flex;
    margin-top: 1em;
}
aside {
    width: 50%;
    margin-top: 0;
}
#ingredients {
    margin-top: 0.4em;
}
#serves {
    margin: auto;
    display: flex;
}