/* Landing Elements */
.headBanner {
    display: block;
    position: relative;
    flex-wrap: wrap;
}
.bannerImg {
    width: 100%;
}
.bannerText {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 1;
    color: #fff;
    right: 0;
    top: 0;
    padding: 1em;
    width: 40%;
    height: 82.5%;
    font-size: 1em;
    text-align: center;
}
label {
    font-size: 2em;

}
p {
    text-align: left;
    padding: 1em 0.5em;
}
.loginBtn {
    border-radius: 1em;
    background-color:rgb(255, 85, 85);
    border: none;
    width: 50%;
    margin-bottom: 0.5em;;
}