* {
    font-family: monospace;
}
body {
    background: rgb(162, 210, 210);
}
section {
    background-color: #fff;
    width: 100%;
    height: 100%;
}
.panel {
    background-color: #fff;
    border-radius: 1em;
    padding: 1em 0;
    width: 100%;
}
.communityWrapper {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin-top: 1em;
}
label {
    margin: 0 1em;
    font-size: 1.4em;
}
.Cnt {
    background-color: rgb(226, 223, 223);
    margin: 1em;
    display: flex;
}
.featureCnt {
    padding: 0.5em 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 59em;
}
#people {
    width: 30%;
    background-color: rgb(255, 131, 131);
}
#chatroom {
    width: 70%;
    padding: 1em;
}
.bubble {
    border-radius: 0.5em;
    background-color: #fff;
    padding: 0.5em;
    border: 3px solid rgb(255, 131, 131);
    margin-bottom: 0.5em;
}
.featuredPost {
    background-color: #fff;
    border-radius: 0.5em;
    margin: 0 0.5em 0.5em 0.5em;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 48em;
    padding-bottom: 0.5em;
}
.devPost {
    height: 30em;
    background-color: #fff;
    border-radius: 0.5em;
    margin: 0 0.5em 0.5em 0.5em;
    display: flex;
    flex-direction: column;
    position: relative;
}
.featuredPost label {
    font-size: 1.25em;
    text-align: center;
}
.featuredPost .devNote {
    margin: auto 0.5em;
    padding: 1em;
    position: absolute;
    top: 3em;
    background-color: rgba(0,0,0,0.1);

}
.featuredPost img {
    width: 100%;
    height: 28em;
    margin: 0;
    border-radius: 0.5em 0.5em 0 0;
}
.devPost img {
    width: 25em;
    height: 12em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    position: relative;
    flex-wrap: wrap;
}
.devPost p {
    padding: 0.5em 1em;
    font-size: 1.1em;
    color: #000;
}
.featuredPost .profile{
    padding: 0.5em;
    margin: auto; 
    vertical-align: 2em;
}
.featuredPost .profile img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 5px solid rgb(255, 131, 131);
    padding: 0.25em;
}
aside {
    margin-left: 10em;
    display: flex;
}
.like {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: 3px solid rgb(255, 131, 131);
    padding: 0.5em;
    margin-right: 0.5em;
}
.like:hover {
    background-color: rgb(255, 131, 131);
    color: #fff;
}
.userId {
    margin: auto;
    margin-left: 0.5em;
}
.userDetails {
    margin-left: 0.5em;
    border-bottom: 2px solid rgb(255, 131, 131);
    display: flex;
}
.featuredPost article {
    margin: 0 1em 0 1.5em;
    padding: 0.5em;
}
.featurePane {
    height: 63.5em;
    overflow: hidden;
}
.commentSection {
    height: 5em;
    background-color: rgb(226, 223, 223);
    padding: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border: 0.5em solid #fff;
    display: flex;
    overflow-x: auto;
    min-width: 30em;
    margin: 0;
}
.commentable {
    margin: auto;
    border-radius: 3.5em;
}
.featureAllign {
    display: block;
    text-align: center;
}
#createComment {
    background-color: #fff;
    border-radius: 2em;
    height: 3.25em;
    margin-left: 0.5em;
}
.commented {
    background-color: rgb(255, 131, 131);
    border-radius: 2em;
    padding: 1em;
    border: none;
    border: 2px solid #fff;
    color: #fff;
    display: flex;
    min-width: 28em;
}
#newComment {
    border-radius: 2em;
}
.commented .span {
    width: 20%;
}
input {
    background-color: rgb(255, 131, 131);
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
}
.iconInner {
    width: 2em;
    height: 2em;
}
.recipe {
    border: 3px solid rgb(255, 131, 131);
    border-radius: 0.5em;
    padding: 0.25em;
    margin-top: 0.5em;
}
.recipePreview {
    display: none;
    position: absolute;
    z-index: 2;
}
.recipe:hover {
    background-color: rgb(255, 131, 131);
    color: #fff;
}